@page "/Error/401"

@code {
    protected override void OnInitialized()
    {
        // You can add any additional logic here if needed
    }
}

@layout Client.Components.Layout.ErrorPageLayout

<div>
    Unathorized
</div>