@page "/projects/{projectId:guid}/settings"

<PageTitle>@Project.Name</PageTitle>

<div class="container pb-3">
    <CascadingValue Value=@Role>
        <div class="d-flex align-items-center">
            <Breadcrumb>
                <BreadcrumbItem Href="/projects">
                    <i class="bi bi-briefcase"></i> Projects
                </BreadcrumbItem>
                <BreadcrumbItem Href="@($"/projects/{ProjectId}/tasks")">
                    <i class="bi bi-kanban"></i> @Project?.Name
                </BreadcrumbItem>
                <BreadcrumbItem>
                    <i class="bi bi-gear"></i> Settings
                </BreadcrumbItem>
            </Breadcrumb>
        </div>
        <Tabs Centered Size=@TabSize.Large>
            <TabPane Tab="Info">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <RoleAuthorizeView AllowedRoles=@([Roles.Admin, Roles.Contributor])>
                            <Allowed>
                                <ProjectSettingsForm ProjectDto=@Project
                                                     OnUpdated=@UpdateProject
                                                     Role=@Role />
                            </Allowed>
                            <NotAllowed>
                                <ProjectDetails Project=@Project />
                            </NotAllowed>
                        </RoleAuthorizeView>
                    </div>
                </div>
            </TabPane>
            <TabPane Tab="States">
                <div class="card shadow-sm mt-3">
                    <div class="card-body d-flex user-select-none">
                        <StateList ProjectId=@ProjectId />
                    </div>
                </div>
            </TabPane>
            <TabPane Tab="Members">
                <div class="card shadow-sm mt-3">
                    <div class="card-body">
                        <ProjectMembersManager ProjectId=@ProjectId />
                    </div>
                </div>
            </TabPane>
            <TabPane Tab="Tags">
                <div class="card shadow-sm mt-3">
                    <div class="card-body">
                        <TagManager ProjectId=@ProjectId />
                    </div>
                </div>
            </TabPane>
        </Tabs>
    </CascadingValue>
</div>
