@page "/projects/{projectId:guid}/lobby"

@layout VideoChatLayout

<PageTitle>Lobby</PageTitle>

<HeadContent>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.0/darkly/bootstrap.min.css" />
</HeadContent>

<div class="py-5 d-flex justify-content-center">
    <div class="bg-dark rounded-4 p-2">
        <div class="d-flex justify-content-center mb-2">
            <div class="w-100"
                 style="max-width: 720px; min-width: 480px">
                <div id="camera"
                     class="shadow-sm"
                     style="width: 640px; height: 360px;">
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <CameraSelector />
            <MicrophoneSelector />
        </div>

        <div class="d-flex flex-column align-items-center mt-2 gap-2">
            <Button Class="btn btn-primary btn-lg w-50"
                    @onclick=@JoinRoom>
                Join Room
            </Button>
            <Button @onclick=@RedirectToProject
                Class="btn btn-primary btn-lg w-50">
                Back to project
            </Button>
        </div>
    </div>

</div>
