@inherits BaseComponent

@using Domain.Dtos;

<AntList DataSource=@Members>
    <ChildContent Context="item">

        <ListItem>

            <Text>
                @item.UserName
            </Text>

            <Select 
                TItem="RoleDto"
                TItemValue="Guid"
                DataSource=@Roles
                    @bind-Value=@item.RoleId
                    ItemValue=@(r => r.Id)
                    ItemLabel=@(r => r.Name)
                    @onchange="@(roleId => UpdateMember(item.UserId, item.RoleId))">
            </Select>

            <Button OnClick=@(() => DeleteMember(item.UserId))>
                Remove
            </Button>

        </ListItem>

    </ChildContent>
</AntList>