@inherits BaseComponent

<AntList DataSource=@Members>
    <ChildContent Context="item">
        <ListItem class="d-flex justify-content-between align-items-center">
            <Text Class="me-2">
                @item.UserName
            </Text>
            <Button OnClick=@(() => DeleteMember(item.UserId))
                    Class="btn btn-danger btn-sm">
                Remove
            </Button>
        </ListItem>
    </ChildContent>
</AntList>