@inherits BaseComponent

<Form Model="MemberModel">
    <div class="d-flex align-items-center gap-3">
        <AutoComplete @bind-Value=@SearchedMemberName
                      Options="SearchedUsers"
                      OnInput=@SearchUser
                      Class="form-control"
                      Placeholder="Search User...">

            <OptionTemplate Context="option">
                <AutoCompleteOption Value=@option.Value.Id
                                    Label=@option.Value.Username />
            </OptionTemplate>

        </AutoComplete>

        <Select DataSource=@Roles
                @bind-Value=@MemberModel.RoleId
                ItemValue=@(r => r.Id)
                ItemLabel=@(r => r.Name)
                Class="form-select"
                Placeholder="Select Role" />

        <Button OnClick=@AddMember
                Class="btn btn-primary">
            Add Member
        </Button>
    </div>
</Form>