@page "/change-password"

@inherits BaseComponent

@attribute [Authorize]

<PageTitle>Change password</PageTitle>

<div class="container mt-5">
    <div class="card shadow-sm p-4"
         style="max-width: 500px; margin: 0 auto;">

        <Title Level="3"
               Class="text-center mb-4">
            Change password
        </Title>

        <Form Model=@ChangePasswordModel
              OnFinish=@Submit
              Layout=@FormLayout.Vertical
              Class="mb-3">

            <FluentValidationValidator />

            <FormItem Label="Current password"
                      Class="mb-3">
                <Input Type=@InputType.Password
                       @bind-Value=@ChangePasswordModel.CurrentPassword
                       Class="form-control" />
            </FormItem>

            <FormItem Label="New password"
                      Class="mb-3">
                <Input Type=@InputType.Password
                       @bind-Value=@ChangePasswordModel.NewPassword
                       Class="form-control" />
            </FormItem>

            <FormItem Label="Confirm password"
                      Class="mb-3">
                <Input Type="InputType.Password"
                       @bind-Value=@ChangePasswordModel.ConfirmedPassword
                       Class="form-control" />
            </FormItem>

            <Button Type=@ButtonType.Primary
                    HtmlType="submit"
                    Class="btn btn-primary w-100 mt-2">
                Change password
            </Button>
        </Form>
    </div>
</div>
