@page "/change-password"

@attribute [Authorize]

<PageTitle>Change password</PageTitle>

<Content Class="auth-form">

    <Title Level="3">Change password</Title>

    <Form Model=@ChangePasswordModel
          OnFinish=@Submit
          Layout=@FormLayout.Vertical>

        <FluentValidationValidator />

        <FormItem Label="Current password">
            <InputPassword @bind-Value=@ChangePasswordModel.CurrentPassword />
        </FormItem>

        <FormItem Label="New password">
            <InputPassword @bind-Value=@ChangePasswordModel.NewPassword />
        </FormItem>

        <FormItem Label="Confirm password">
            <InputPassword @bind-Value=@ChangePasswordModel.ConfirmedPassword />
        </FormItem>

        <Button Type=@ButtonType.Primary
                HtmlType="submit">
            Change password
        </Button>

    </Form>

</Content>
