@page "/forgot-password/confirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<div class="d-flex flex-column align-items-center justify-content-center min-vh-100 bg-light">
    <div class="card shadow p-4 w-100" style="max-width: 400px;">

        <Title Level="3" Class="text-center mb-4">
            Forgot password confirmation
        </Title>

        <Text Class="text-center mb-3">
            We have sent you an email with instructions on how to reset your password.
        </Text>

        <div class="text-center">
            <NavLink Match=@NavLinkMatch.Prefix
                     href="/login"
                     class="text-decoration-none btn btn-link">
                Back to login
            </NavLink>
        </div>
    </div>
</div>
