@page "/forgot-password/confirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<Content>

    <Title Level="3">Forgot password confirmation</Title>

    <Text>We have sent you an email with instructions on how to reset your password.</Text>

</Content>