@page "/forgot-password"

<PageTitle>Forgot password</PageTitle>

<div class="d-flex flex-column align-items-center justify-content-center min-vh-100 bg-light">
    <div class="card shadow p-4 w-100"
         style="max-width: 400px;">

        <Title Level="3"
               Class="text-center mb-4">
            Forgot your password
        </Title>

        <Form Model=@ResetPasswordModel
              OnFinish=@Submit
              Layout=@FormLayout.Vertical>

            <FluentValidationValidator />

            <FormItem Label="Email">
                <Input Type="InputType.Email"
                       @bind-Value=@ResetPasswordModel.Email
                       Class="form-control" />
            </FormItem>

            <div class="text-center mt-2">
                <Text Class="text-muted">
                    We will send you an email that will allow you to reset your password.
                </Text>
            </div>

            <div class="text-center">
                <Button Type=@ButtonType.Primary
                        HtmlType="submit"
                        Class="btn btn-primary w-100 mt-3">
                    Reset password
                </Button>
            </div>
        </Form>
    </div>
</div>
