@page "/forgot-password"

@inherits BaseComponent

<PageTitle>Forgot password</PageTitle>

<Content Class="auth-form">

    <Title Level="3">Forgot your password</Title>

    <Form Model=@ResetPasswordModel
          OnFinish=@Submit
          Layout=@FormLayout.Vertical>

        <FluentValidationValidator />

        <FormItem Label="Email">
            <Input @bind-Value=@ResetPasswordModel.Email />
        </FormItem>

        <div>
            <Text>We will send you an email that will allow you to reset your password.</Text>
        </div>
        <div>
            <Button Type=@ButtonType.Primary HtmlType="submit">
                Reset password
            </Button>
        </div>

    </Form>

</Content>
