@page "/login"

@inherits BaseComponent

<PageTitle>Login</PageTitle>

<Content Class="auth-form">

    <Title Level="3">Login</Title>

    <Form Model=@LoginModel
          OnFinishFailed=@OnInitializedAsync
          OnFinish=@Submit
          Layout=@FormLayout.Vertical>

        <FluentValidationValidator />

        <FormItem Label="Email">
            <Input Type="InputType.Email" name="email" @bind-Value=@LoginModel.Email />
        </FormItem>

        <FormItem Label="Password">
            <InputPassword @bind-Value=@LoginModel.Password />
        </FormItem>

        <Text>@ErrorMessage</Text>

        <Button Type=@ButtonType.Primary
                HtmlType="submit">
            Login
        </Button>

    </Form>

    <div>
        <NavLink Match=@NavLinkMatch.All
                 href="/forgot-password">
            Forgot your password?
        </NavLink>
    </div>

    <div>
        <Text>Don't have an account?</Text>

        <NavLink Match=@NavLinkMatch.All
                 href="/register">
            Create
        </NavLink>
    </div>

</Content>