@page "/login"

@rendermode InteractiveServer

<h3>Login</h3>

<Form Model="@LoginModel" OnFinishFailed="OnInitializedAsync" OnFinish="Submit" Layout="FormLayout.Vertical"
    ValidateOnChange>
    <FluentValidationValidator />

    <FormItem Label="Email">
        <Input @bind-Value="LoginModel.Email" Placeholder="Enter your email" />
    </FormItem>

    <FormItem Label="Password">
        <InputPassword @bind-Value="LoginModel.Password" Placeholder="Enter your password" />
    </FormItem>

    <ButtonGroup>
        <Button Type="ButtonType.Primary" HtmlType="submit">Login</Button>
    </ButtonGroup>
</Form>

Don't have an account?
<NavLink href="/register">Create</NavLink>
