@page "/register"

@rendermode InteractiveServer

<h3>Register</h3>

<EditForm Model="@RegisterModel" OnValidSubmit="Submit" FormName="RegisterForm">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <label>
        Username
        <InputText @bind-Value="RegisterModel.Username"></InputText>
    </label>
    <label>
        Email
        <InputText @bind-Value="RegisterModel.Email"></InputText>
    </label>
    <label>
        Password
        <InputText type="password" @bind-Value="RegisterModel.Password"></InputText>
    </label>
    <label>
        Confirm password
        <InputText type="password" @bind-Value="RegisterModel.ConfirmedPassword"></InputText>
    </label>
    <p>@ErrorMessage</p>
    <button type="submit">Register</button>
</EditForm>
