@page "/register"

@rendermode InteractiveServer

<h3>Register</h3>

<Form Model="@RegisterModel" OnFinish="Submit" Layout="FormLayout.Vertical" ValidateOnChange>
    <FluentValidationValidator />

    <FormItem Label="Username">
        <Input @bind-Value="RegisterModel.Username" Placeholder="Enter your username" />
    </FormItem>

    <FormItem Label="Email">
        <Input @bind-Value="RegisterModel.Email" Placeholder="Enter your email" />
    </FormItem>

    <FormItem Label="Password">
        <InputPassword @bind-Value="RegisterModel.Password" Placeholder="Enter password"/>
    </FormItem>

    <FormItem Label="Confirm password">
        <InputPassword @bind-Value="RegisterModel.ConfirmedPassword" Placeholder="Confirm password"/>
    </FormItem>

    <Button Type="ButtonType.Primary" HtmlType="submit">Register</Button>
</Form>
