@page "/register"

@inherits BaseComponent

<PageTitle>Register</PageTitle>

<Content Class="auth-form">

    <Title Level="3">Register</Title>

    <Form Model=@RegisterModel
          OnFinish=@Submit
          Layout=@FormLayout.Vertical>

        <FluentValidationValidator />

        <FormItem Label="Username">
            <Input name="username" @bind-Value=@RegisterModel.Username />
        </FormItem>

        <FormItem Label="Email">
            <Input Type="InputType.Email" name="email" @bind-Value=@RegisterModel.Email>
        </FormItem>

        <FormItem Label="Password">
            <InputPassword @bind-Value=@RegisterModel.Password />
        </FormItem>

        <FormItem Label="Confirm password">
            <InputPassword @bind-Value=@RegisterModel.ConfirmedPassword />
        </FormItem>

        <div>
            <Button Type=@ButtonType.Primary
                    HtmlType="submit">
                Register
            </Button>

            <Button Type=@ButtonType.Default
                    OnClick=@(() => NavManager.NavigateTo("/login"))>
                Cancel
            </Button>
        </div>

    </Form>

</Content>
