@page "/reset-password/{resetToken}"

<PageTitle>Reset password</PageTitle>

<div class="d-flex flex-column align-items-center justify-content-center min-vh-100 bg-light">
    <div class="card shadow p-4 w-100"
         style="max-width: 400px;">

        <Title Level="3"
               Class="text-center mb-3">
            Reset Password
        </Title>

        <Form Model=@SetPasswordModel
              OnFinish=Submit
              Layout=@FormLayout.Vertical>

            <FluentValidationValidator />

            <FormItem Label="Password">
                <Input Type=@InputType.Password
                       @bind-Value=@SetPasswordModel.Password
                       Class="form-control" />
            </FormItem>

            <FormItem Label="Confirmed password">
                <Input Type=@InputType.Password
                       @bind-Value=@SetPasswordModel.ConfirmedPassword
                       Class="form-control" />
            </FormItem>

            <Button Type=@ButtonType.Primary
                    HtmlType="submit"
                    Class="btn btn-primary w-100 mt-3">
                Reset password
            </Button>
        </Form>
    </div>
</div>
