@page "/reset-password/{resetToken}"

@inherits BaseComponent

<PageTitle>Reset password</PageTitle>

<Content Class="auth-form">

    <Title Level="3">ResetPassword</Title>

    <Form Model=@SetPassword
          OnFinish=Submit
          Layout="FormLayout.Vertical">

        <FluentValidationValidator />

        <FormItem Label="Password">
            <InputPassword @bind-Value=@SetPassword.Password />
        </FormItem>

        <FormItem Label="Confirmed password">
            <InputPassword @bind-Value=@SetPassword.ConfirmedPassword />
        </FormItem>

        <Button Type=@ButtonType.Primary
                HtmlType="submit">
            Reset password
        </Button>

    </Form>

</Content>