@rendermode InteractiveServer

<h3>Create</h3>

<EditForm Model="ProjectModel" OnValidSubmit="Submit" FormName="CreateProject" >
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
        Name
        <InputText @bind-Value="ProjectModel.Name"></InputText>
        <ValidationMessage For="@(() => ProjectModel.Name)" />
    </label>
    <label>
        Description
        <InputText @bind-Value="ProjectModel.Description"></InputText>
        <ValidationMessage For="@(() => ProjectModel.Description)" />
    </label>
    <button type="submit">Add</button>
    <div>@ErrorMessage</div>
</EditForm>
