<div class="space-y-2">
    <label class="block font-medium">Select Microphone</label>
    <div class="relative">
        <select class="w-full border rounded-xl px-4 py-2" @onchange="async e => await SelectMicrophone(e.Value?.ToString())">
            @if (IsLoading)
            {
                <option>Loading...</option>
            }
            else
            {
                @foreach (var device in Devices!)
                {
                    <option value="@device.DeviceId">@device.Label</option>
                }
            }
        </select>
    </div>
</div>