<HeadContent>
    <style>
        .ant-radio-button-wrapper:not(:first-child)::before {
            display: none !important;
        }
    </style>
</HeadContent>

<Modal @bind-Visible=@Visible
       Closable=@false
       Footer=@null
       DestroyOnClose=@true>

    <h4>
        Edit tag
    </h4>

    <div class="modal-content p-4">
        <Form Model=@_tagModel
              OnFinish=@SubmitAsync
              Layout=@FormLayout.Vertical
              Context="tag"
              Autocomplete="off">

            <FluentValidationValidator />

            <FormItem Label="Name"
                      Class="mb-3">
                <InputText @bind-Value=@tag.Name
                           Class="form-control" />
            </FormItem>

            <FormItem Label="Color">
                <RadioGroup @bind-Value=@_tagModel.Color Class="d-flex gap-1 justify-content-center">
                    @foreach (var color in Colors.Values)
                    {
                        <Radio RadioButton Value=@color.Value
                               Class="d-flex align-items-center justify-content-center"
                               Style=@GetRadioButtonStyle(color.Value, tag.Color)
                               Checked=@(color.Value == tag.Color)>
                            @if (color.Value == tag.Color)
                            {
                                <i class="bi bi-check-lg text-dark"></i>
                            }
                        </Radio>
                    }
                </RadioGroup>
            </FormItem>

            <div class="d-flex justify-content-end gap-2">
                <Button Type=@ButtonType.Default
                        OnClick=@Close
                        Class="btn btn-outline-secondary">
                    Cancel
                </Button>

                <Button Type=@ButtonType.Primary
                        HtmlType="submit"
                        Class="btn btn-primary">
                    Save
                </Button>
            </div>
        </Form>
    </div>
</Modal>
