@page "/users/{id:guid}"

<PageTitle>@(User?.Username ?? "Not found")</PageTitle>

<AuthorizeView>
    <Authorized>
        <h3>Details</h3>
        @if (User is null)
        {
            <p>User not found</p>
        }
        else
        {
            <p>
                @User.Id<br />
                @User.Username, @User.Email
            </p>
        }
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to view this page</p>
    </NotAuthorized>
</AuthorizeView>
