@page "/users/{userId:guid}"

@attribute [Authorize]

<PageTitle>@(User?.Username ?? "Not found")</PageTitle>

<h3>Details</h3>

@if (User is null)
{
    <p>User not found</p>
}
else
{
    <p>
        @User.Username, @User.Email
    </p>
}

@if(IsAuthorized)
{
    <NavLink Match=@NavLinkMatch.All
                href="/change-password">
        Change password
    </NavLink>
}
