<Modal @bind-Visible=@Visible
       Closable=@false
       Footer=@null
       DestroyOnClose=@true>

    <h4>
        @Title
    </h4>

    <div class="modal-content p-4">
        <Form Model=@_stateModel
              OnFinish=@SubmitAsync
              Layout=@FormLayout.Vertical
              Autocomplete="off">

            <FluentValidationValidator />

            <FormItem Label="Name"
                      Class="mb-3">
                <InputText @bind-Value=@context.Name
                           Class="form-control" />
            </FormItem>

            <FormItem Label="Description"
                      Class="mb-3">
                <TextArea @bind-Value=@context.Description
                          Class="form-control"
                          Rows="4" />
            </FormItem>

            <div class="d-flex justify-content-end gap-2">
                <Button Type=@ButtonType.Default
                        OnClick=@Close
                        Class="btn btn-outline-secondary">
                    Cancel
                </Button>

                <Button Type=@ButtonType.Primary
                        HtmlType="submit"
                        Class="btn btn-primary">
                    @SubmitButtonText
                </Button>
            </div>
        </Form>
    </div>
</Modal>
