
<div class="top-row px-4">
    <AuthorizeView>
        <Authorized>
            <p>@UserName</p>
        </Authorized>
        <NotAuthorized>
            <p>Not authorized</p>
        </NotAuthorized>
    </AuthorizeView>
    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
</div>