<div class="top-row px-4 py-2 d-flex justify-content-between align-items-center bg-light shadow-sm rounded z-3">
    <div class="d-flex align-items-center">
        <NavLink href=@($"users/{UserId}")
                 class="text-dark text-decoration-none d-flex me-4 align-items-center">
            <Avatar Size=@("45px")
                    Src=@(string.IsNullOrWhiteSpace(AvatarUrl)
                    ? null
                    : $"{AvatarUrl}?t={DateTime.UtcNow.Ticks}")
                    class="border border-primary rounded-circle shadow-sm">
                @UserName.FirstOrDefault()
            </Avatar>

            <span class="ms-2 fs-5 text-dark">
                @UserName
            </span>
        </NavLink>

        <NavLink href=@(PageRoutes.ProjectsPage)
                 class="text-dark text-decoration-none fs-5">
            <i class="bi bi-briefcase me-2"></i> Projects
        </NavLink>
    </div>

    <div class="d-flex align-items-center">
        <AuthorizeView>
            <Authorized>
                <NavLink href="/logout"
                         class="btn btn-danger text-decoration-none text-white ms-3">
                    <i class="bi bi-box-arrow-right me-2"></i> Log out
                </NavLink>
            </Authorized>

            <NotAuthorized>
                <LoginRedirect />
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
