<div class="top-row px-4">
    <AuthorizeView>
        <Authorized>
            <Text>@UserName</Text>
            <a href="/logout">Log out</a>
        </Authorized>
        <NotAuthorized>
            <a href="/login">Sign in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>