<h5>Members</h5>

<RoleAuthorizeView AllowedRoles=@([Domain.Constants.Roles.Admin])>
    <Allowed>
        <ProjectMemberForm Roles=@Roles
                           ProjectId=@ProjectId
                           OnMemberAdded=@LoadMembersAsync />
    </Allowed>
</RoleAuthorizeView>

<Divider />

<ProjectMemberList ProjectId=@ProjectId
                   Members=@Members
                   Roles=@Roles
                   OnMemberChanged=@LoadMembersAsync />