@{
    RenderFragment footer =
    @<Template>
        <span>@GetCreatingDetails();</span>
        @if (!string.IsNullOrWhiteSpace(Project.UpdatedByName))
    {
        <br />
        <span>@GetUpdatingDetails()</span>
    }
    </Template>;
}

<Modal @bind-Visible=@Visible
       Footer=@footer
       DestroyOnClose=@true
       OnCancel="Close">

    <Title Level="3">@Project.Name</Title>

    <div>@Project.Description</div>

    <ProjectMemberForm Roles=@Roles
                       ProjectId=@ProjectId
                       OnMemberAdded=@LoadMembersAsync />

    <Divider />

    <ProjectMemberList ProjectId=@ProjectId
                       Members=@Members
                       Roles=@Roles
                       OnMemberChanged=@LoadMembersAsync />

</Modal>
