@rendermode InteractiveServer

<Modal @bind-Visible=@Visible
       Closable=@false
       DestroyOnClose=@true
       Footer=@null>

    <h4>
        @Title
    </h4>

    <div class="modal-content p-4">
        <Form Model=@ProjectModel
              OnFinish=@Submit
              Layout=@FormLayout.Vertical
              Autocomplete="off">

            <FluentValidationValidator />

            <FormItem Label="Name"
                      Class="mb-3">
                <Input @bind-Value=@ProjectModel.Name
                       Class="form-control" />
            </FormItem>

            <FormItem Label="Description"
                      Class="mb-3">
                <TextArea @bind-Value=@ProjectModel.Description
                          Class="form-control"
                          Rows="4" />
            </FormItem>

            <FormItem Label="Start date">
                <DatePicker AllowClear
                            DefaultValue=DateTime.Now.ToLocalTime()
                            @bind-Value=@ProjectModel.StartDate />
            </FormItem>

            <div class="d-flex justify-content-end gap-2">
                <Button Type=@ButtonType.Default
                        OnClick=@Cancel
                        Class="btn btn-outline-secondary">
                    Cancel
                </Button>

                <Button Type=@ButtonType.Primary
                        HtmlType="submit"
                        Class="btn btn-primary">
                    @ButtonText
                </Button>
            </div>
        </Form>
    </div>
</Modal>
